/* ==========================================
        Common codes and utilities     
=============================================*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFBF0;
    scroll-behavior: smooth;
    font-family: Poppins',sans-serif;
}
.section-title{
    color: black;
    font-size: 48px;
    font-weight: 400;
}
.common-btn{    
    padding: 7px;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}
.common-btn > img{
    width: 28px;
}
.common-btn > a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
/* banner section starts here */
.banner-title{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
}
.highlighted{
    color: #FABE4C;
}
.banner-btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}
.banner-btn > img{
    width: 35px;    
}
.banner-btn > a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
/* banner section ends here */
/* Mens and womens jacket starts here */
.section-title{
    text-transform: uppercase;
}
.rate{
    font-size: 38px;
    color: #FABE4C;
    font-weight: 500;
}
.card > img{
    padding: 15px;
    background-color: #bebebe;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;

}
/* Mens and womens jacket ends here */
/* footer starts here */
footer{
    background-color: black;
    color:white;
    padding: 25px;
    text-align: center;
}
footer > h4, p{
    font-size: 14px;
}
.author{
    color: rgb(83, 255, 255);
    font-size: 12px;
}
/* footer ends here */